<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
        <header>
            <h1>OAuth Tut's</h1>
            <h2>Homepage</h2>
        </header>
        <main>
            <p>LAKSHYA KOHLI HI HELLO :)</p>
        </main>
    </body>
</html>