<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ScreenShare 101</title>
    <link href="styles1.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/chatroom">ChatRoom</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <div id="ss">
        <h2>ScreenShare</h2>
        <button id="ss">Start</button>
    </div>

</body>
</html>